body{
    background-color: rgb(33, 27, 83);
}
nav{
    background-color: rgb(33, 27, 83);
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-content: center;
    color: white;
}
h3{
    color: white;
    font-size: 3vw;
}
.menu{
    /* align-self: flex-end; */
    /* justify-self: flex-end; */
    /* background-color: red; */
    padding-top: 10px;
    /* margin: 10px; */
}
.menu ul li{
    display: inline;
    color: white;
    margin-right: 25px;

}
.menu ul li a{
    text-decoration: none;
    color: white;
}
@media (max-width: 772px) {
    .menu {
      display: none;
    } 
    .sec1{
        margin-top: 45px;
    }
    }
@media (min-width: 772px) {
        .menu-icon {
          display: none;
        } 
        .sec1{
            margin-top: 80px;
        }
        }    

/* Mobile */
.boardtext1 {
    margin-top: 50px;
}
.boardtext2 {
    margin-top: 35px;
}
.boardbuttons{
    margin-top: 60px;
}
.condition1{
    margin-top: 15px;
}
.condition2{
    margin-top: 15px;
}

@media (max-width:772px) {
    .condition1{
        display: none;
    }
}
@media (min-width:900px) {
    .hers{
        display: block;
        margin-top: 25%;
    }
}

@media (min-width:772px) {
    .condition2{
        display: none;
    }
}       

/* Tablet */
@media (min-width:600px) {
    .boardbuttons{
        margin-top: 80px;
    }
}

/* Desktop */
@media (min-width:900px) {
    .boardbuttons{
        margin-top: 130px;
    }
}        

.footerh5 ul li{
    display: block;
    margin-left: -40px;
}

.titleunderline{
    width: 10px;
    transition: width 0.5s;
    transform: translate(2px);
}
.titleunderline:hover{
    width: 100px;
}


.reveal{
    position: relative;
    transform: translateX(-10px);
    /* opacity: 0; */
    width: 10px;
    transition: 1.5s all ease;
  }
  
  .reveal.active{
    transform: translateX(0);
    /* opacity: 1; */
    width: 100px;
  }

  

  footer{
    margin-top: 100px;
  }

  .footerh2{
    text-align: center;
}
  .footerh5{
    text-align: center;
  }

  .zoomimage1:hover {
    position: absolute;
    margin: 110px;
    /* margin-right: 70px; */
    margin-left: 200px;
    /* float: right; */
    transform: scale(1.5);
    /* transform: scale(0.5); (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .zoomimage2:hover {
    position: absolute;
    margin: 110px;
    margin-left: -50px;
    /* margin-right: 50px; */
    width: 190px;
    /* float: right; */
    transform: scale(1.5);
    /* transform: scale(0.5); (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .zoomimage3:hover {
    position: absolute;
    margin: 110px;
    margin-right: 70px;
    margin-left: 200px;
    /* float: right; */
    transform: scale(1.5);
    /* transform: scale(0.5); (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }