<!-- <!DOCTYPE html> -->
{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Wajis' infinity</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'script.js' %}"></script>
    </head>
    <body>
        
{% block content %}
       
        <div class="row">
          <div class="col-sm-6">
            <div class="container text-center" style="align-items: center;margin-top: 30px;">
                <h4 style="margin-bottom: -10px;font-size: xx-large;">Welcome Back!</h4>
                <div style="width: 7%;margin-left: 300px;">
                  <hr class="titleunderline reveal" style="background-color: #9B3FF6;text-align: center;">
                </div>
                <h3 style="color: black;font-weight: 300;margin-top: -16px;margin-bottom: 45px;">Log In To Your Account</h3>
                             
        <div style="display: flex;justify-content: space-around;">
            <!-- <div></div> -->
            <div style="border-color: #9B3FF6;border-radius: 35px;border-style: solid;padding: 5px;width: 70%;padding-left: 50px;padding-right:50px;margin-bottom: 15px;">
                <div style="display: flex;justify-content: center;align-content: center;padding-top: 5px;">
                    <img src="{% static '../static/assets/1 (16).png' %}" alt="Google" style="width: 20px;height: 20px;">
                    <h5 style="font-weight: 400;color: #9B3FF6;font-size: large;padding-left: 10px;">Login with Google</h5>
                </div>
            </div>
            <!-- <div></div> -->
            </div>  
                      <div style="display: flex;width: 100%;justify-content: space-evenly;">
            <div style="display: flex;justify-content: space-around;">
              <!-- <div></div> -->
              <div style="border-color: #9B3FF6;border-radius: 35px;border-style: solid;padding: 5px;width: 100%;padding-left: 50px;padding-right:50px;">
                  <div style="display: flex;justify-content: center;align-content: center;padding-top: 5px;">
                      <img src="{% static '../static/assets/1 (16).png' %}" alt="Google" style="width: 20px;height: 20px;">
                      <h5 style="font-weight: 400;color: #9B3FF6;font-size: large;padding-left: 10px;">Login with Google</h5>
                  </div>
              </div>
              <!-- <div></div> -->
              </div>
  
              <div style="display: flex;justify-content: space-around;">
                <!-- <div></div> -->
                <div style="border-color: #9B3FF6;border-radius: 35px;border-style: solid;padding: 5px;width: 100%;padding-left: 50px;padding-right:50px;">
                    <div style="display: flex;justify-content: center;align-content: center;padding-top: 5px;">
                        <img src="{% static '../static/assets/1 (16).png' %}" alt="Google" style="width: 20px;height: 20px;">
                        <h5 style="font-weight: 400;color: #9B3FF6;font-size: large;padding-left: 10px;">Login with Google</h5>
                    </div>
                </div>
                <!-- <div></div> -->
                </div>
          </div>
               <div style="display: flex;justify-content: space-around;padding-top: 25px;padding-bottom: 25px;">
                <div style="display: flex;flex-direction: row;width: 95%;">
                    <div style="width: 45%;">
                        <hr style="background-color: #9B3FF6;text-align: center;">
                    </div>
                    <p style="margin-left: 20px;margin-right: 20px;">or</p>
                    <div style="width: 45%;">
                        <hr style="background-color: #9B3FF6;text-align: center;">
                    </div>               
                </div>
               </div>

               <div>
                <form>
                    <p style="text-align: start;margin-left: 30px;color: #9B3FF6;font-weight: 500;">Email Address<span style="color: rgb(223, 115, 87);">*</span></p>
                    <p style="text-align: start;margin-left: 30px;margin-top: -15px;">
                        <input type="text" style="width: 90%;height: 40px;border-radius: 25px;border-width: 1px;border-color: #69696999;padding: 10px;">
                    </p>
                    <!-- <br> -->
                    <p style="text-align: start;margin-left: 30px;color: #9B3FF6;font-weight: 500;">Password<span style="color: rgb(223, 115, 87);">*</span></p>
                    <p style="text-align: start;margin-left: 30px;margin-top: -15px;">
                        <input type="password" style="width: 90%;height: 40px;border-radius: 25px;border-width: 1px;border-color: #69696999;padding: 10px;">
                    </p>
                    <p style="text-align: end;margin-right: 80px;color: #9B3FF6;font-weight: 300;margin-top: -20px;">forgot Password?</p>
                    <input type="submit" value="Login" class="submit" style="border-color: #9B3FF6;padding: 10px;font-size: 25px;border-radius: 30px;width: 150px;border-width: 2px;">
                </form>
               </div>
            </div>
            <div style="margin-top: 25%;">
                <h4 style="text-align: center;font-weight: 300;font-size: large;">Don't have an account yet? <a href="/sellersignup/" style="color: #9B3FF6;">Sign Up</a></h4>
            </div>
          </div>
          <div class="col-sm-6" style="background-color: transparent;background-image: url('../../static/assets/1\ \(15\).png');width: 100%;">            
          </div>
      
          <!-- Force next columns to break to new line -->
          <!-- <div class="w-100"></div>
      
          <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
          <div class="col-6 col-sm-3">.col-6 .col-sm-3</div> -->
        </div>

{% endblock %}
    </body>
    <!-- <script>
        function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("onload", reveal);

    </script> -->

</html>