<!-- <!DOCTYPE html> -->
{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Wajis' infinity</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'script.js' %}"></script>

    </head>
    <body>
        
{% block content %}
       
        <div class="row">
          <div class="col-sm-6">
            <div class="container text-center" style="align-items: center;margin-top: 30px;">
                <!-- <div class="progress-stacked" style="width: 10%;">

                    <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                      <div class="progress-bar"></div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <div class="progress-bar bg-success"></div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div> -->

                  <div style="display: flex;justify-content: space-around;">
                  <div class="cons" style="display: flex;">
                    <div class="active cons"></div>
                    <div class="cons"></div>
                    <div class=" cons"></div>
                    <div class=" cons"></div>
                  </div>
                  <!-- </div> -->
                  <!-- </div> -->

                  </div> 

                <div id="firstslide">
                    <!-- <div style="display: flex;justify-content: space-around;">
                       
                        <div class="cons">
                          <div class="active"></div>
                        </div>
                      </div> -->
    
    
                      <h4 style="margin-bottom: -10px;font-size: xx-large;margin-top: 15px;">Be A Seller!</h4>
                    <div style="width: 7%;margin-left: 300px;">
                      <hr class="titleunderline reveal" style="background-color: #9B3FF6;text-align: center;">
                    </div>
                    <h3 style="color: black;font-weight: 300;margin-top: -16px;margin-bottom: 45px;">Create An Account</h3>
                    
        <div style="display: flex;justify-content: space-around;">
          <!-- <div></div> -->
          <div style="border-color: #9B3FF6;border-radius: 35px;border-style: solid;padding: 5px;width: 70%;padding-left: 50px;padding-right:50px;margin-bottom: 15px;">
              <div style="display: flex;justify-content: center;align-content: center;padding-top: 5px;">
                  <img src="{% static '../static/assets/1 (16).png' %}" alt="Google" style="width: 20px;height: 20px;">
                  <h5 style="font-weight: 400;color: #9B3FF6;font-size: large;padding-left: 10px;">Login with Google</h5>
              </div>
          </div>
          <!-- <div></div> -->
          </div>  
                    <div style="display: flex;width: 100%;justify-content: space-evenly;">
          <div style="display: flex;justify-content: space-around;">
            <!-- <div></div> -->
            <div style="border-color: #9B3FF6;border-radius: 35px;border-style: solid;padding: 5px;width: 100%;padding-left: 50px;padding-right:50px;">
                <div style="display: flex;justify-content: center;align-content: center;padding-top: 5px;">
                    <img src="{% static '../static/assets/1 (16).png' %}" alt="Google" style="width: 20px;height: 20px;">
                    <h5 style="font-weight: 400;color: #9B3FF6;font-size: large;padding-left: 10px;">Login with Google</h5>
                </div>
            </div>
            <!-- <div></div> -->
            </div>

            <div style="display: flex;justify-content: space-around;">
              <!-- <div></div> -->
              <div style="border-color: #9B3FF6;border-radius: 35px;border-style: solid;padding: 5px;width: 100%;padding-left: 50px;padding-right:50px;">
                  <div style="display: flex;justify-content: center;align-content: center;padding-top: 5px;">
                      <img src="{% static '../static/assets/1 (16).png' %}" alt="Google" style="width: 20px;height: 20px;">
                      <h5 style="font-weight: 400;color: #9B3FF6;font-size: large;padding-left: 10px;">Login with Google</h5>
                  </div>
              </div>
              <!-- <div></div> -->
              </div>
        </div>


               <div style="display: flex;justify-content: space-around;padding-top: 25px;padding-bottom: 25px;">
                <div style="display: flex;flex-direction: row;width: 95%;">
                    <div style="width: 45%;">
                        <hr style="background-color: #9B3FF6;text-align: center;">
                    </div>
                    <p style="margin-left: 20px;margin-right: 20px;">or</p>
                    <div style="width: 45%;">
                        <hr style="background-color: #9B3FF6;text-align: center;">
                    </div>               
                </div>
               </div>

               <div >
                <form method="POST">
                    {% csrf_token %}

                    <div style="display: flex;justify-content: space-evenly;">
                        <div style="width: 75%;">
                            <p style="text-align: start;margin-left: 30px;color: #9B3FF6;font-weight: 500;">First Name<span style="color: rgb(223, 115, 87);">*</span></p>
                    <p style="text-align: start;margin-left: 30px;margin-top: -15px;">
                        {{ form.first_name }}
                    </p>
                        </div>
                    <div style="width: 75%;">
                        <p style="text-align: start;margin-left: 30px;color: #9B3FF6;font-weight: 500;">Last Name<span style="color: rgb(223, 115, 87);">*</span></p>
                    <p style="text-align: start;margin-left: 30px;margin-top: -15px;">
                        {{ form.last_name }}
                    </p>
                    </div>
                    </div>
                    <p style="text-align: start;margin-left: 30px;color: #9B3FF6;font-weight: 500;">Email Address<span style="color: rgb(223, 115, 87);">*</span></p>
                    <p style="text-align: start;margin-left: 30px;margin-top: -15px;">
                        {{ form.email }}
                    </p>
                   
                    <div style="display: flex;justify-content: space-evenly;">
                     <div style="width: 75%;">   
                        <p style="text-align: start;margin-left: 30px;color: #9B3FF6;font-weight: 500;">Password<span style="color: rgb(223, 115, 87);">*</span></p>
                        <p style="text-align: start;margin-left: 30px;margin-top: -15px;">
                            {{ form.password1 }}
                        </p>
                    </div>
                    <div style="width: 75%;">
                        <p style="text-align: start;margin-left: 30px;color: #9B3FF6;font-weight: 500;">Confirm Password<span style="color: rgb(223, 115, 87);">*</span></p>
                        <p style="text-align: start;margin-left: 30px;margin-top: -15px;">
                            {{ form.password2 }}
                        </p>
                    </div>
                    </div>

                    <div class="form-check" style="float: left;margin-left: 30px;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault" style="color: #9B3FF6;">
                          I agree to the Terms, Condition and Privacy Policy
                        </label>
                      </div>

                    <!-- {{ form.first_name }} -->
                    <br>
                    <br>
                    <br>
                      <div>
                        <input type="submit" value="Sign Up" class="submit" onsubmit="" style="background-color: transparent;border-color: #9B3FF6;padding: 10px;font-size: 25px;border-radius: 30px;width: 150px;border-width: 2px;padding-left: 150px;padding-right: 215px;">
                        </div>
                </form>
               </div>
               <div style="margin-top: 5%;">
                <h4 style="text-align: center;font-weight: 300;font-size: large;">Already Have An Account? <a href="/sellerlogin/" style="color: #9B3FF6;">Sign In</a></h4>
            </div>
                </div>
                <div id="secondslide">
                    <!-- <div style="display: flex;justify-content: space-around;"> -->
                        <!-- <div></div> -->
                        <!-- <div class="cons">
                          <div class=""></div>
                        </div> -->
                        <!-- <div></div> -->
                      <!-- </div> -->
    
    
                      <h4 style="margin-bottom: -10px;font-size: xx-large;margin-top: 15px;">Be A Seller!</h4>
                    <div style="width: 7%;margin-left: 300px;">
                      <hr class="titleunderline reveal" style="background-color: #9B3FF6;text-align: center;">
                    </div>
                    <h3 style="color: black;font-weight: 300;margin-top: -16px;margin-bottom: 45px;">Choose Your Product Market</h3>                
                    <div class="row">
                        <div class="col-sm-6">
                          <div style="margin: 10px;background-color: white;border-radius: 15px;">
                            <div style="background-image: url('../../static/assets/1\ \(4\).png');height: 250px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                              <!-- <div style="padding-top: 15px;">                  
                                <img src="{% static '../../static/assets/1 (12).png' %}" >
                              </div>
                              <div style="height: 90px;"></div>
                              <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 70px">
                                <div></div>
                                <div>
                                  <img src="{% static '../../static/assets/1 (11).png' %}" style="margin: auto;background-color: white;padding: 10px;border-radius: 40px;">
                                  <img src="{% static '../../static/assets/1 (10).png' %}" style="margin: auto;background-color: white;padding: 10px;border-radius: 40px;">
                                </div>
                                <div></div>
                              </div> -->
                              </div>
                          <!-- <div>
                            <div>
                              <h5>Video Editing</h5>
                              <h6>$ 25.00/hr</h5>
                            </div>
                              <div style="display: flex;justify-content: space-between;flex-direction: row;">
                              <div></div>
                              <div></div>
                              <div style="display: flex;flex-direction: row-reverse;border-radius: 100px;background-color: #9B3FF6;padding: 5px;width: 50px;height: 30px;margin: 15px;">
                                <h6 >4.6</h6>
                              <img src="{% static '../../static/assets/1 (9).png' %}" style="width: 20px;height: 20px;">
                              </div>
                              </div>
                          </div> -->
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div style="margin: 10px;background-color: white;border-radius: 15px;">
                            <div style="background-image: url('../../static/assets/1\ \(5\).png');height: 250px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                              <!-- <div style="padding-top: 15px;">                  
                                <img src="{% static '../../static/assets/1 (12).png' %}" >
                              </div>
                              <div style="height: 90px;"></div>
                              <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 70px">
                                <div></div>
                                <div>
                                  <img src="{% static '../../static/assets/1 (11).png' %}" style="margin: auto;background-color: white;padding: 10px;border-radius: 40px;">
                                  <img src="{% static '../../static/assets/1 (10).png' %}" style="margin: auto;background-color: white;padding: 10px;border-radius: 40px;">
                                </div>
                                <div></div>
                              </div> -->
                              </div>
                          <div>
                            
                              <!-- <div style="display: flex;justify-content: space-between;flex-direction: row;">
                              <div></div>
                              <div></div>
                              <div style="display: flex;flex-direction: row-reverse;border-radius: 100px;background-color: #9B3FF6;padding: 5px;width: 50px;height: 30px;margin: 15px;">
                                <h6 >4.6</h6>
                              <img src="{% static '../../static/assets/1 (9).png' %}" style="width: 20px;height: 20px;">
                              </div>
                              </div> -->
                          </div>
                          </div>
                        </div>
                       </div>          
              
                </div>
                <div id="thirdslide">
                    <!-- <div style="display: flex;justify-content: space-around;"> -->
                        <!-- <div></div> -->
                        <!-- <div style="width: 15%;background-color: white;border-radius: 20px;">
                            <div class="progressBar" id="myProgressBar" style="height: 10px;background: #702EB2;
    border-radius: 20px;width: 75%;z-index: 100;transition: width 0.2s ease-out;"></div>
                        </div> -->
                        <!-- <div class="cons">
                          <div class=""></div>
                        </div> -->
                        <!-- <div></div> -->
                      <!-- </div> -->
    
    
                      <h4 style="margin-bottom: -10px;font-size: xx-large;margin-top: 15px;">Be A Seller!</h4>
                    <div style="width: 7%;margin-left: 300px;">
                      <hr class="titleunderline reveal" style="background-color: #9B3FF6;text-align: center;">
                    </div>
                    
                    <h3 style="color: black;font-weight: 300;margin-top: -16px;margin-bottom: 45px;">Choose Your Market</h3> 
                        <div>
                            <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-2-outlined">
                                <div class="form-check">
                                <input type="checkbox"
                                 >
                                <label class="form-check-label" for="flexCheckDefault">
                                  Default checkbox
                                </label>
                              </div>
                            </label><br>
                            <div style="margin-top: 15%;">
                                <input type="search" style="width: 80%;border-radius: 20px;padding-left: 10px;" placeholder="Search...">
                                <br>
                                <br>
                                <br>
                                <br>
                                <div style="display: flex;justify-content: flex-end;">
                                    <input type="submit" value="Continue" style="padding: 10px;font-size: large;background-color: transparent;border-color: #9B3FF6;color: #9B3FF6;">
                                </div>
                                </div>
                        </div>
                </div>
                <div id="forthslide"> 
                    <!-- <div style="display: flex;justify-content: space-around;"> -->
                        <!-- <div></div> -->
                        <!-- <div style="width: 15%;background-color: white;border-radius: 20px;">
                            <div class="progressBar" id="myProgressBar" style="height: 10px;background: #702EB2;
    border-radius: 20px;width: 100%;z-index: 100;transition: width 0.2s ease-out;"></div>
                        </div> -->
                        <!-- <div class="cons">
                          <div class=""></div>
                        </div> -->
                        <!-- <div></div> -->
                      <!-- </div> -->
    
    
                      <h4 style="margin-bottom: -10px;font-size: xx-large;margin-top: 15px;">Be A Seller!</h4>
                    <div style="width: 7%;margin-left: 300px;">
                      <hr class="titleunderline reveal" style="background-color: #9B3FF6;text-align: center;">
                    </div>                    
                    <h3 style="color: black;font-weight: 300;margin-top: -16px;margin-bottom: 45px;">Set Up your Profile</h3>
                    
                    <div style="display: flex;justify-content: flex-end;">
                        <input type="submit" value="Continue" style="padding: 10px;font-size: large;background-color: transparent;border-color: #9B3FF6;color: #9B3FF6;">
                    </div>
                </div>
            </div>
            
          </div>
          <div class="col-sm-6" style="background-color: transparent;background-image: url('../../static/assets/1\ \(15\).png');;width: 100%;">            
          </div>
      
          <!-- Force next columns to break to new line -->
          <!-- <div class="w-100"></div>
      
          <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
          <div class="col-6 col-sm-3">.col-6 .col-sm-3</div> -->
        </div>

{% endblock %}
    </body>
    <script>
        function progress(){
            alert('sagansnk')
        }
    </script>
    <!-- <style>
        .progressBar {
position: fixed;
top: 0;
left: 0;
height: 8px;
/* background-color: red; */
background: linear-gradient(to right, #ff5f6d, #ffc371);
width: 0%;
z-index: 100;
transition: width 0.2s ease-out;
}
    </style> -->
    <!-- <script>
        function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("onload", reveal);

    </script> -->

</html>