<!-- <!DOCTYPE html> -->
{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Wajis' infinity</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'script.js' %}"></script>
    </head>
    <body>
        
{% block content %}
       
        <div class="row">
          <div class="col-sm-6">
            <div class="container text-center" style="align-items: center;margin-top: 30px;">
                <!-- <div class="progress-stacked" style="width: 10%;">

                    <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                      <div class="progress-bar"></div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <div class="progress-bar bg-success"></div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div> -->

                  <div class="progressBar"></div>

                  <h4 style="margin-bottom: -10px;font-size: xx-large;margin-top: 15px;">Be A Seller!</h4>
                <div style="width: 7%;margin-left: 300px;">
                  <hr class="titleunderline reveal" style="background-color: #9B3FF6;text-align: center;">
                </div>
                <h3 style="color: black;font-weight: 300;margin-top: -16px;margin-bottom: 45px;">Create An Account</h3>
                <div style="display: flex;justify-content: space-around;">
                <!-- <div></div> -->
                <div style="border-color: #9B3FF6;border-radius: 35px;border-style: solid;padding: 10px;width: 50%;">
                    <div style="display: flex;justify-content: center;align-content: center;padding-top: 5px;">
                        <img src="{% static '../static/assets/1 (16).png' %}" alt="Google" style="width: 20px;height: 20px;">
                        <h5 style="font-weight: 400;color: #9B3FF6;font-size: large;padding-left: 10px;">Login with Google</h5>
                    </div>
                </div>
                <!-- <div></div> -->
                </div>
               <div style="display: flex;justify-content: space-around;padding-top: 25px;padding-bottom: 25px;">
                <div style="display: flex;flex-direction: row;width: 95%;">
                    <div style="width: 45%;">
                        <hr style="background-color: #9B3FF6;text-align: center;">
                    </div>
                    <p style="margin-left: 20px;margin-right: 20px;">or</p>
                    <div style="width: 45%;">
                        <hr style="background-color: #9B3FF6;text-align: center;">
                    </div>               
                </div>
               </div>

               <div>
                <form method="POST">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <input type="submit" value="Sign Up" class="submit" style="border-color: #9B3FF6;padding: 10px;font-size: 25px;border-radius: 30px;width: 150px;border-width: 2px;">
                </form>
               </div>
            </div>
            <div style="margin-top: 25%;">
                <h4 style="text-align: center;font-weight: 300;font-size: large;">Don't have an account yet? <a href="#" style="color: #9B3FF6;">Sign Up</a></h4>
            </div>
          </div>
          <div class="col-sm-6" style="background-color: transparent;background-image: url('../../static/assets/1\ \(15\).png');height: 100vh;width: 100%;">            
          </div>
      
          <!-- Force next columns to break to new line -->
          <!-- <div class="w-100"></div>
      
          <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
          <div class="col-6 col-sm-3">.col-6 .col-sm-3</div> -->
        </div>

{% endblock %}
    </body>
    <!-- <style>
        .progressBar {
position: fixed;
top: 0;
left: 0;
height: 8px;
/* background-color: red; */
background: linear-gradient(to right, #ff5f6d, #ffc371);
width: 0%;
z-index: 100;
transition: width 0.2s ease-out;
}
    </style> -->
    <!-- <script>
        function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("onload", reveal);

    </script> -->

</html>